body {
    overflow-y: scroll;
    width: 100vw;
}
/* schedule page*/

.schedulePage {
  height: 100vh;
  width: 100%;
}
.content {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
