.schedule {
  position: absolute;

  height: 100vh;
  background: #222;
  color: white;
  font-size: 1.5em;
}

.scheduleHead {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tableWrapper {
  border: none;
  border-top: 1px solid white;
  padding-top: 50px;
}
.scheduleTable {
  width: 100%;
  border-spacing: 0px;
}

thead {
  background: #f3f3f3;
  color: #666;
  height: 20px;
}

th {
  height: 70px;
  text-align: left;
  padding: 10px;
  border: 1px solid #333;
  font-size: 0.8em;
}

tr {
  height: 70px;
}
td {
  text-align: center;
  padding: 5px;
  padding-right: 10px;
}

tr:nth-child(even) {background: #222}
tr:nth-child(odd) {background: #333}

.tournRounds {
  display: flex;
  padding: none;
}
.round {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1px;
  margin: 2px;
  font-size: 0.8em;
}
.roundNum {
  color: black;
  padding: 10px;
}
.roundScore {
  background-color: black;
  padding: 10px;
}
