.social {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px;
  padding-top: 0px;
  text-align: center;
}

.topText {
  color: black;
  font-size: 30px;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}

h2 {
  margin: 0px;
}

.banner {
  align-self: center;
  margin-bottom: 20px;
  /* margin-left: 30px; */
}
.socialimages {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
